.axis--x path {
  display: none;
}
  
.line {
  fill: none;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bar {
  fill: rgba(40, 47, 66, 0.5);
}

.plant.label {
  font-size: 12.5px;
}

.label {
  pointer-events: none;
}

.background-line {
  fill: none;
  stroke: #242a3a;
  stroke-width: 0.9px;
  opacity: 0.75;
}

.chart-label {
  font-size: 11px;
}

.axis.label {
  fill: #c6e7fa;
  font-size: 11.5px;
  font-family: "PT Sans";
  opacity: 0.8;
}

.axis line{
  stroke: #afafaf;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.axis path{
  stroke: #afafaf;
}

.axis text{
  fill: #e9e9e9;
  font-family: "PT Sans";
}    

.overlay {
  fill: none;
  pointer-events: all;
}

.hover-line {
  stroke: #c5c5c5;
  stroke-width: 1px;
  opacity: 0.3;
}

div.tooltip {
  position: absolute;
  max-width: 150px;
  padding: 7px;
  font-size: 12.5px;
  background: #242a3a;
  color: #f3f3f3;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 999999;
}

div.tooltip p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.inline {
  display: inline;
}

div.tooltip h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.tooltip-key {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: inline-block;
  margin-right: 3px;
}

/* style the key */

/* #region */

.colour-key {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: inline-block;
  margin-right: 3px;
}

#list-group {
  padding: 0px;
  list-style: none;
}

#list-group li {
  color: #e9e9e9;
  font-size: 12.5px;
  float: left;
  padding-right: 12px;
  padding-bottom: 8px;
}

.bar-labels {
  font-size: 12.5px;
}

.year-label {
  font-size: 11px;
}

/* #endregion */