.axis--x path {
    display: none;
  }
  
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

.bar {
  fill: #f3f3f3;
}

.plant.label {
  font-size: 12.5px;
}

.label {
  pointer-events: none;
}

.axis.label {
  fill: #333333;
  font-size: 11.5px;
}