.axis--x path {
    display: none;
  }
  
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

.bar {
  fill: #f3f3f3;
}

.plant-label {
  pointer-events: none;
  font-size: 12px;
}