@media all and (max-width: 1380px) {
    
    .small {
        -ms-flex: 2.5 0 0;
        -webkit-flex: 2.5 0 0;
        flex: 2.5 0 0;
    }

    #text-container {
        /* keep margin-top and bottom at 40 because of waypoints */
        margin-left: 35px;
        margin-right: 35px;
    }

}

@media all and (max-width: 1280px) {

    #logo {
        width: 100px;
        height: 35px;
    }

    .share-icons {
        font-size: 10px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 27px;
    }

    .scrolltext p {
        font-size: 15px;
    }

    p {
        font-size: 19px;
    }

    h3 {
        font-size: 19px;
    }

    .mapboxgl-popup-content p {
        font-size: 13.5px;
    }

    .large {
        -ms-flex: 1 0 0;
        -webkit-flex: 1 0 0;
        flex: 1 0 0;
    }
    
    .small {
        -ms-flex: 1 0 0;
        -webkit-flex: 1 0 0;
        flex: 1 0 0;
    }

    .large2 {
        -ms-flex: 2.5 0 0;
        -webkit-flex: 2.5 0 0;
        flex: 2.5 0 0;
    }

    #text-container {
        margin-left: 30px;
        margin-right: 30px;
    }

    #line-wrapper {
        height: 230px;
    }

    #console {
        width: 390px;
    }

    .selector {
        width: 180px;
    }

    #first-title {
        width: 190px;
    }

}

@media all and (max-width: 1100px) {
    #text-container {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media all and (max-width: 980px) {

    #logo {
        height: 25px;
        width: 25px;
        left: 6px;
        top: 6px;
        background-image:url(../img/logo-mobile.svg);
    }

    h1 {
        font-size: 29px;
    }

    h2 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    #charts {
        display: none;
    }

    p {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
    }

    .mapboxgl-popup-content p {
        font-size: 13px;
    }

    .footer {
        font-size: 16px;
    }

    #bar-container {
        display: none;
    }

    #credit-button {
        visibility: visible;
    }

}

@media all and (max-width: 736px) {

    .map-background:after {
        content:"";
        position:fixed; /* stretch a fixed position to the whole screen */
        top:0;
        height:100vh; /* fix for mobile browser address bar appearing disappearing */
        left:0;
        right:0;
        z-index:0; /* needed to keep in the background */
        background: url(../img/uk-map.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .mask {
        z-index:1;
    }

    #map {
        z-index: 2;
    }

    #end-map {
        z-index: 3;
    }

    .small {
        position: absolute;
    }

    .scrolltext {
        background-color: rgba(50, 59, 82, 0.88);
        padding-left: 15px;
        padding-right: 15px;
    }

    .year-highlight {
        background-color: rgba(50, 59, 82, 0.88);
    }

    #linkedin {
        display: none;
    }

    #console {
        width: 370px;
        margin: 5px;
        padding: 5px 15px;
        padding-right: 25px;
    }

    .selector {
        width: 170px;
    }

    #list-group {
        display: none;
    }

    #dropdown {
        height: 80px;
    }

    #first-title {
        width: 180px;
    }

    h1 {
        font-size: 27px;
        margin-block-start: 1em;
    }

    h2 {
        font-size: 22px;
    }

    h5 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .footer {
        font-size: 15px;
    }

    .scrolltext p {
        font-size: 14.5px;
    }

    #animation {
        width: 300px;
        height: 300px;
    }

    .credit {
        font-size: 13px;
    }

    .mapboxgl-popup-content {
        max-width: 200px;
    }

    #scroll-area {
        display: block;
    }

}

@media all and (max-width: 480px) {

    #animation {
        width: 240px;
        height: 240px;
    }

    h1 {
        font-size: 24px;
        margin-block-start: 0.5em;
        line-height: 1.2em;
    }

    h2 {
        font-size: 20px;
    }

    .credit {
        font-size: 12px;
    }

    p {
        font-size: 14.5px;
    }

    .footer {
        font-size: 13px;
    }

    #console {
        width: 180px;

    }

    .selector {
        width: 140px;
    }

    #first-title {
        width: 150px;
    }

    .scrolltext p {
        font-size: 13.5px;
    }

    #text-container {
        margin-left: 15px;
        margin-right: 15px;
    }

    #selectorStyle {
        display: none;
    }

    #second-title {
        display: none;
    }

}