body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Helvetica, Arial, Sans-serif;
  }
  
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 800px;
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(36, 42, 58, 0.95);
}

#canvas-wrapper {
  position: relative;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}

h1 {
  font-family: 'PT Sans Narrow', Helvetica, Arial, Sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 12px;
}

h2 {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #c6e7fa;
}

h3 {
  font-family: 'PT Sans Narrow', Helvetica, Arial, Sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
}

p {
  margin-top: 2px;
  margin-bottom: 0px;
}

.console-text {
  color: #e2e2e2;
  font-family: 'PT Serif';
  font-style: italic;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #bdbdbd;
}

#console {
  position: absolute;
  width: 450px;
  margin: 10px;
  padding: 10px 25px;
  padding-right: 35px;
  background-color: rgba(50, 59, 82, 0.88);
  border-radius: 5px;
  z-index: 5;
}

.session {
  margin-bottom: 15px;
}

#dropdown {
  height: 130px;
}

.label-title {
  color: #bfc2bd;
  font-weight: bold;
}

#dropdown-titles {
  width: 100%;
}

#sliderbar {
  margin-bottom: 0px;
}

.title {
  display: inline-block;
}

#first-title {
  width: 200px;
}

.row {
  height: 12px;
  width: calc(100% - 20px);
  margin-left:0px;
}

.colors {
  background: linear-gradient(to right, #ced1cc, #cc9b7a, #ffc83e, #ff8767, #ea545c, #dd54b6, #a45edb, #4e80e5, #43cfef, #00a98e, #A7B734 );
  margin-bottom: 5px;
  height: 3px;
  background-size: 250% 100%;
  /* very slow so that it isn't distracting */
	-webkit-animation: Gradient 120s ease infinite;
	-moz-animation: Gradient 120s ease infinite;
	animation: Gradient 120s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}

#line-wrapper {
  width: 100%;
  height: 270px;
}

#line-chart {
  position: absolute;
  z-index: 9999;
}

#line-chart-background {
  position: absolute;
}

#bar-chart {
  position: absolute;
}

#stacked-bar {
  height: 80px;
  width: 100%;
}

#adb {
  position: fixed;
  visibility: visible;
  color: #333333;
  z-index: -999999;
  /* height: 100px; */
  width: 30%;
  margin-left: 45%;
  margin-top: 140px;
}

#adb i {
  font-size: 18px;
}

#adb li {
  color: #333333;
  list-style-type: circle;
}

#credit {
  border-top: 1px solid #949494;
  margin-top: 15px;
  padding-top: 10px;
  margin-bottom: 10px;
}

#credit p {
  color: #949494;
  font-size: 11.5px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://www.carbonbrief.org/wp-content/uploads/2018/04/arrow-for-map.png) 96% / 15% no-repeat #2e364b;
  background-size: 20px 13px;
  border:2px;
  padding: 4px;
  color: #f3f3f3;
  outline:0px;
}

.selector {
  width: 200px;
}

#home-button-wrapper {
  position: absolute;
  top: 150px;
  right: 10px;
  height: 18px;
  width: 18px;
  z-index: 999999;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 5px;
}

#scroll-area {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 800px;       
}

#home-button-wrapper:hover {
  background-color: #f3f3f3;
}

#home-button {
  color: #333333;
}

#logo-mobile {
  position: absolute;
  top: 592px;
  right: 9px;
  z-index: 9000;
  height: 25px;
  width: 25px;
  background-image:url(../img/logo-mobile.svg);
  background-repeat: no-repeat;
  visibility: hidden;
}

#logo-tablet {
  position: absolute;
  top: 600px;
  right: 7px;
  z-index: 9000;
  height: 30px;
  width: 30px;
  background-image:url(../img/logo-mobile.svg);
  background-repeat: no-repeat;
  visibility: hidden;
}

#logo-laptop {
  position: absolute;
  top: 737px;
  right: 0px;
  z-index: 9000;
  height: 45px;
  width: 110px;
  background-image:url(../img/logo-laptop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  visibility: visible;
}

 /* nb tried getting rid of bright blue highlight but seems to be impossible without using something other than <select> or a  plugin */

#selectorType:hover {
  background-color: #242a3a;
}

/* #region */

/* style the map tooltip */

.mapboxgl-popup-content {
  color: #F3F3DD;
  background-color: #242a3a;
  /* border-color: #91785D; */
  max-width: 250px;
  /* box-shadow: 3px 3px 2px #8B5D33; */
}

/* change colour of tip to match popup */

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #242a3a;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #242a3a;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #242a3a;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #242a3a;
}
/* #endregion */

/* region */

/* make responsive */

@media screen and (max-width: 1300px) {

  #console {
    width: 420px;
  }

  .selector {
    width: 180px;
  }

  #first-title {
    width: 180px;
  }

  h1 {
    font-size: 26px;
    line-height: 28px;
  }

  h2 {
    font-size: 14.5px;
  }

  .console-text {
    font-size:15px;
  }

  li {
    font-size: 12px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .colour-key {
    width: 9px;
    height: 9px;
    margin-right: 2px;
  }

  .axis.label {
    font-size: 11.5px;
  }

}

@media screen and (max-width: 1200px) {

  #console {
    width: 400px;
  }

  #home-button-wrapper {
    top: 110px;
  }

  #scroll-area {
    width: 40px;
  }

  #line-wrapper {
    height: 255px;
  }

}

@media screen and (max-width: 1100px) {

  #console {
    width: 380px;
  }

  #line-wrapper {
    height: 235px;
  }

  .selector {
    width: 160px;
  }

  #first-title {
    width: 160px;
  }

  #dropdown {
    height: 120px;
  }

  #key {
    height: 35px;
  }

  .console-text {
    font-size:14px;
  }

  h2 {
    font-size: 14px;
  }

  li {
    font-size: 11.5px;
  }

}

@media screen and (max-width: 1024px) {

  #console {
    width: 340px;
  }

  #line-wrapper {
    height: 220px;
  }

  #logo-tablet {
    visibility: visible;
  }

  #logo-laptop {
    visibility: hidden;
  }

  #map {
    height: 655px;
  }

  #credit {
    display: none;
  }

  #scroll-area {
    width: 30px;
  }

  #stacked-bar {
    display: none;
  }

}

@media screen and (max-width: 980px) {

  #console {
    width: 320px;
  }

  #home-button-wrapper {
    top: 110px;
  }

  .selector {
    width: 140px;
  }

  #first-title {
    width: 140px;
  }

  #scroll-area {
    width: 20px;
  }

  h1 {
    font-size: 24px;
    line-height: 26px;
  }

  h2 {
    font-size: 14px;
  }

  .console-text {
    font-size: 13px;
  }

}

@media screen and (max-width: 850px) {

  #charts {
    display: none;
  }
  #dropdown {
    display: none;
  }
  #console {
    width: 400px;
    padding: 7px 15px;
    padding-right: 30px;
  }

  .console-text {
    display: none;
  }

}

@media screen and (max-width: 640px) {

  #logo-tablet {
    /* move as mapbox credit changes */
    top: 588px;
  }

  #home-button-wrapper {
    display: none;
  }

  #console {
    width: 100%;
    margin: 0px;
    position: relative;
    border-radius: 0px;
    background-color: rgb(50, 59, 82);
  }

  #adb {
    width: 60%;
    margin-left: 20%;
    margin-top: 100px;
  }

  .row {
    width: calc(100% - 30px);
  }

  #map {
    position: relative;
    height: 470px;
  }

  #loading {
    background-color: rgb(36, 42, 58);
  }

}

@media screen and (max-width: 480px) {

  #adb {
    visibility: hidden;
  }

  #logo-tablet {
    visibility: hidden;
  }

  #logo-mobile {
    visibility: visible;
  }

}

@media screen and (max-width: 380px) {

  #logo-mobile {
    top: 510px;
  }

  #map {
    height: 380px;
  }

  #key {
    height: 35px;
  }

}

/* #endregion */