body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'PT Sans', Helvetica, Arial, Sans-serif;
  background-color: #282f42;
}
  
#map {
  width: 100%;
  height: 800px;
  margin: 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#end-map {
  width: 100%;
  height: 1000px;
  margin: 0;
}

#intro {
  width: 100%;
  height: 800px;
}

.map-background {
  background: url(../img/uk-map.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(36, 42, 58, 0.8);
}

.central {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: center;
  text-align: center;
  /* margin-top: 15%;
  margin-bottom: 15%; */
}

#animation {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  height: auto;
}

#text-container {
  background-color: #282f42;
  margin: 40px;
}

#end-container {
  margin-top: 40px;
}

.padding-above {
  height: 50px;
}

.padding-below {
  height: 200px;
}

.credit {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 14px;
  margin-top: 0em;
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(36, 42, 58, 0.95);
}

#canvas-wrapper {
  position: relative;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}

#year-container {
  position: absolute;
  left: 100px;
  z-index: 3;
}

.year-highlight {
  padding: 5px;
  color: #c6e7fa;
  background-color: #282f42;
  border: 1.5px solid #c6e7fa;
  -moz-box-shadow:    3px 3px 0px 0px #c6e7fa;
  -webkit-box-shadow: 3px 3px 0px 0px #c6e7fa;
  box-shadow:         3px 3px 0px 0px #c6e7fa;
  z-index: 7;
}

.year {
  height: 800px;
  z-index: 6;
}

.scrolltext {
  z-index: 4;
}

.year-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 40px;
}

#stacked-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 40px;
}

h1 {
  font-family: 'PT Sans Narrow', Helvetica, Arial, Sans-serif;
  font-weight: normal;
  font-size: 34px;
  line-height: 30px;
  color: #ffffff;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1;
  color: #c6e7fa;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

#text-container h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #c6e7fa;
}

h3 {
  font-family: 'PT Sans Narrow', Helvetica, Arial, Sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
}

h5 {
  font-family: "PT Serif", Georgia, serif;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
  color: #f3f3f3;
}

p {
  font-family: "PT Serif", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  font-style: normal;
  color: #f3f3f3;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.scrolltext p {
  font-size: 16px;
  line-height: 28px;
}

.console-text {
  color: #e2e2e2;
  font-family: 'PT Serif';
  font-style: italic;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #f3f3f3;
  border-bottom: 1px solid #FFC83E;
}

a:hover {
  color: #FFC83E;
  text-decoration: none;
}

li {
  font-family: "PT Sans", sans-serif;
}

.row {
  /* order important so don't override new syntax with old */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  height: auto;
  background-color: #282f42;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 0;
}

.large {
  -ms-flex: 3 0 0;
  -webkit-flex: 3 0 0;
  flex: 3 0 0;
}

.small {
  -ms-flex: 2 0 0;
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
}

.small2 {
  -ms-flex: 1 0 0;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

#chart-placeholder {
  height: 200px;
}

#console {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 450px;
  margin: 10px;
  padding: 10px 25px;
  padding-right: 35px;
  background-color: rgba(50, 59, 82, 0.88);
  border-radius: 5px;
  z-index: 5;
}

.session {
  margin-bottom: 15px;
}

#dropdown {
  height: 130px;
}

#key-mobile {
  display: none;
}

.label-title {
  color: #bfc2bd;
  font-weight: bold;
}

#dropdown-titles {
  width: 100%;
}

#sliderbar {
  margin-bottom: 0px;
}

.title {
  display: inline-block;
}

#first-title {
  width: 200px;
}

.slider {
  height: 12px;
  width: calc(100% - 20px);
  margin-left:0px;
}

.colors {
  background: linear-gradient(to right, #ced1cc, #cc9b7a, #ffc83e, #ff8767, #ea545c, #dd54b6, #a45edb, #4e80e5, #43cfef, #00a98e, #A7B734 );
  margin-bottom: 5px;
  height: 3px;
  background-size: 160% 100%;
  /* very slow so that it isn't distracting */
	-webkit-animation: Gradient 100s ease infinite;
	-moz-animation: Gradient 100s ease infinite;
	animation: Gradient 100s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}

#line-wrapper {
  width: 100%;
  height: 270px;
}

#line-chart {
  position: absolute;
  z-index: 9999;
}

#line-chart-background {
  position: absolute;
}

#bar-chart {
  position: absolute;
}

#stacked-bar {
  height: 80px;
  width: 100%;
}

#adb {
  position: fixed;
  visibility: visible;
  color: #333333;
  z-index: -999999;
  /* height: 100px; */
  width: 30%;
  margin-left: 45%;
  margin-top: 140px;
}

#adb i {
  font-size: 18px;
}

#adb li {
  color: #333333;
  list-style-type: circle;
}

#credit {
  border-top: 1px solid #949494;
  margin-top: 15px;
  padding-top: 10px;
  margin-bottom: 10px;
}

#credit p {
  color: #949494;
  font-size: 11.5px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://www.carbonbrief.org/wp-content/uploads/2018/04/arrow-for-map.png) 96% / 15% no-repeat #2e364b;
  background-size: 20px 13px;
  border:2px;
  padding: 4px;
  color: #f3f3f3;
  outline:0px;
}

.selector {
  width: 200px;
}

#home-button-wrapper {
  position: absolute;
  top: 160px;
  right: 10px;
  height: 18px;
  width: 18px;
  z-index: 999999;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 5px;
}

#scroll-area {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 800px;       
}

#home-button-wrapper:hover {
  background-color: #f3f3f3;
}

#home-button {
  color: #333333;
}

#logo {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 9000;
  height: 45px;
  width: 140px;
  background-image:url(../img/logo-laptop.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
}

#logo:hover {
  opacity: 1;
}

.share-icons {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9000;
  color: #ffffff;
  font-size: 12px;
  padding: 5px;
  padding-top: 0px;
}

.share-icons .fa-stack {
  opacity: 0.4;
}

.share-icons .fa-stack:hover {
  opacity: 1;
}

 /* nb tried getting rid of bright blue highlight but seems to be impossible without using something other than <select> or a  plugin */

#selectorType:hover {
  background-color: #242a3a;
}

/* improve the styling of the slider in Chrome */

/* input[type=range]{
  -webkit-appearance: none;
} */

input[type=range]::-webkit-slider-runnable-track {
  background: #242a3a;
  border: none;
  border-radius: 3px;
  height: 5px;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -5px;
}

/* improve the styling of the slider in IE and Edge */

input[type=range]::-ms-track {
  
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

/* removes the annoying box */

input[type=range]::-ms-tooltip {
  display: none;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #f3f3f3;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

/* #region */

/* style the map tooltip */

.mapboxgl-popup-content {
  color: #F3F3DD;
  background-color: #242a3a;
  /* border-color: #91785D; */
  max-width: 250px;
  /* box-shadow: 3px 3px 2px #8B5D33; */
}

.mapboxgl-popup-content p {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

/* change colour of tip to match popup */

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #242a3a;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #242a3a;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #242a3a;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #242a3a;
}

.leaflet-popup-content-wrapper {
  background-color:#242a3a;
}

.leaflet-popup-tip {
  background-color:#242a3a;
}

.leaflet-popup-content {
  margin: 10px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content h3 {
	margin-bottom: 5px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	font-family: PT Sans, Arial;
  font-size: 13px;
  color: #FFFFFF;
}

.prompt-wrapper {
  position: absolute;
  top: 55px;
  right: -140px;
}

.prompt {
  position: relative;
  font-size: 13px;
  color: #c4c4c4;
  background: #242a3a;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; 
  width: 95px; 
  /* height: 36px; */
  padding: 8px;
  opacity: 1;
  animation: fade 2s ease-in-out infinite;
}

#prompt-wrapper1 {
  top: 105px;
}

#prompt-wrapper2 {
  top: 145px;
}

/* add the arrow to the prompt box */
.prompt:before{
  content: "";
  position: absolute;
  top: 12px;
  right:-25px;
  z-index: 1;
  border: solid 15px transparent;
  border-left-color: #242a3a;
}

@keyframes fade {
  0%,100% { opacity: 0.8 }
  50% { opacity: 1 }
}

.prompt-in {
  opacity: 1;
  transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  transition: all 1.5s ease;
}

.prompt-out {
  opacity: 0;
  transform: translateX(200px);
  -ms-transform: translateX(200px);
  -webkit-transform: translateX(200px);
  transition: all 2s ease;
}

.prompt-fade {
  opacity: 0;
  transition: 3s;
  transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
}

/* animation style */

.st0{fill:#CED1CC;}